<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kbpark.mybroadcast">

    <!--4. 마지막으로 permission이 필요합니다.-->
    <!--왜냐면 내가만든 앱이 사용자의 개인정보에 무분별하게 접근하는 것을 막기 위함이죠. -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--1. 먼저 manifest에 receiver가 등록되어 있어야 하구요, (얘도 application 구성요소니까)-->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <!--2. filter를 지정해줍니다.-->
            <!--(왜냐면 일반적으로 단말기에는 여러개의 리시버들이 있고, 여러개의 기본 내장앱들(문자앱, 전화앱 등)에서
                   방송이 계속 날아오기 때문에 어떤 방송을 받을지 필터링을 해줘야만 합니다)-->
            <intent-filter>
                <!--우리는 SMS(문자)가 왔을때 처리를 해보겠습니다.-->
                <action android:name="android.Provider.Telephony.SMS_RECEIVED" />
            </intent-filter>

        </receiver>
    </application>

</manifest>
